<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  th:replace="~{base::layout(~{::section})}">
<head>
	<meta charset="ISO-8859-1">
	<title>Admin Dashboard</title>
	<style>
		.card-sh {
            transition: transform 0.2s;
        }
        .card-sh:hover {
            transform: scale(1.05);
        }
        .card-body i {
            margin-bottom: 5px;
        }
	</style>
</head>
<body>
<section>
	<div class="container p-4">
		<p class="text-center fs-3 mt-3">Admin Dashboard</p>
		<div class="row p-4">
			<div class="col-md-3 mt-2">
				<a href="/admin/loadAddProduct" class="text-decoration-none">
					<div class="card card-sh">
						<div class="card-body text-center text-primary">
							<i class="fa-solid fa-square-plus fa-2x"></i>
							<h5>Add Product</h5>
						</div>
					</div>
				</a>
			</div>

			<div class="col-md-3 mt-2">
				<a href="/admin/category" class="text-decoration-none">
					<div class="card card-sh">
						<div class="card-body text-center text-warning">
							<i class="fa-solid fa-list fa-2x"></i>
							<h5>Add Category</h5>
						</div>
					</div>
				</a>
			</div>

			<div class="col-md-3 mt-2">
				<a href="/admin/products" class="text-decoration-none">
					<div class="card card-sh">
						<div class="card-body text-center text-success">
							<i class="fa-solid fa-table-list fa-2x"></i>
							<h5>View Product</h5>
						</div>
					</div>
				</a>
			</div>

			<div class="col-md-3 mt-2">
				<a href="/admin/orders" class="text-decoration-none">
					<div class="card card-sh">
						<div class="card-body text-center text-warning">
							<i class="fa-solid fa-box-open fa-2x"></i>
							<h5>Orders</h5>
						</div>
					</div>
				</a>
			</div>

			<div class="col-md-3 mt-3">
				<a href="/admin/users?type=1" class="text-decoration-none">
					<div class="card card-sh">
						<div class="card-body text-center text-primary">
							<i class="fa-solid fa-circle-user fa-2x"></i>
							<h5>Users</h5>
						</div>
					</div>
				</a>
			</div>

			<div class="col-md-3 mt-3">
				<a href="/admin/add-admin" class="text-decoration-none">
					<div class="card card-sh">
						<div class="card-body text-center text-primary">
							<i class="fa-solid fa-user-plus fa-2x"></i>
							<h5>Add Admin</h5>
						</div>
					</div>
				</a>
			</div>

			<div class="col-md-3 mt-3">
				<a href="/admin/users?type=2" class="text-decoration-none">
					<div class="card card-sh">
						<div class="card-body text-center text-primary">
							<i class="fa-solid fa-circle-user fa-2x"></i>
							<h5>Admin</h5>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</section>
</body>
</html>